@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    font-family: 'Poppins', sans-serif;;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container{
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: rgb(28, 29, 34);
    align-items: center;
    justify-content: center;
}
#login {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 40px 30px;
    border-radius: 8px;
    height: fit-content;
    gap: 20px;
}
#form_login{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#form_login i {
    cursor: pointer;
}
#social_media{
    display: flex;
    justify-content: space-around;
}
#social_media a:hover{
    transform: scale(1.2);
}
#social_media img {
    width: 48px;
}
#inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
   
}
.input_box label{
    font-weight: bolder;
    font-size: 15px;

}
.input_box input{
    border: none;
}
.input {
    display: flex;
    border-bottom: rgb(28, 29, 34) 1px solid;
    padding: 3px;
    align-items: center;
    justify-content: center;
    gap: 15px;
    cursor: text;
}
.input input:focus {
    outline: none;
}
.input_box a{
    text-decoration: none;
    color: rgb(28, 29, 34);
}
#button {
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: rgb(28, 29, 34);
    color: white;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
}
#button:hover {
    transform: scale(1.07);
}